.article-content {
  max-width: 100%;
  padding: 2em;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0.5em;

  &_no-article {
    text-align: center;
  }

  &_title {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 30px;

    img {
      width: 350px;
      height: 300px;
      object-fit: cover;
      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        margin-bottom: 20px;
        width: 100%;
      }
      @media screen and (min-width: 0px) and (max-width: 800px) {
        margin-bottom: 20px;
        width: 100%;
      }
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
    }
    @media screen and (min-width: 0px) and (max-width: 800px) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
    }
  }

  &_text {
    margin: 30px 0;
  }
  &_footer {
    padding-top: 30px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid black;
  }
}
