.article-header {
  width: 100%;
  padding: 2em;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 30px;

  border-radius: 0.5em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  outline: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid black;
  }

  cursor: pointer;
  transition: all 0.2s;

  @media screen and (min-width: 0px) and (max-width: 1400px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  img {
    width: 250px;
    height: 200px;
    object-fit: cover;

    @media screen and (min-width: 0px) and (max-width: 1400px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &_read {
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

    &_icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.2em;
      border: 1px solid #000;

      svg {
        color: green;
      }
    }
  }

  &_text {
    text-align: left;

    h3 {
      margin-bottom: 10px;
    }
    p {
      @media screen and (min-width: 0px) and (max-width: 1200px) {
        display: none;
      }
    }
    //color: red;
  }
}
