.article-search {
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;

  &_input {
    width: 100%;
    padding: 15px 20px;

    display: flex;
    align-items: center;

    border-radius: 1em;
    border: 1px solid black;

    input {
      width: 100%;
      padding: 5px 0;

      font-size: 1em;

      background-color: transparent;
      border: none;
      outline: none;
      &:focus {
        border: none;
      }
    }
    svg {
      color: gray;
      margin-right: 10px;
    }
  }

  button {
    width: 200px;

    border-radius: 1em;
    border: 1px solid black;

    font-size: 1em;

    background-color: rgb(53, 53, 144);
    color: white;

    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;

    &:hover {
      background-color: rgb(184, 221, 255);
      color: black;
    }
  }
}
