.articles {
  width: 100%;
  height: 100%;
  min-height: calc(100vh + 1px);
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;

  overflow-x: hidden;
  background-color: #f9fcfd;

  @media screen and (min-width: 0px) and (max-width: 1200px) {
    max-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  &_headers {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @media screen and (min-width: 0px) and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      column-gap: 20px;
    }
    @media screen and (min-width: 600px) and (max-width: 1040px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      column-gap: 20px;
    }
    @media screen and (min-width: 1040px) and (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      column-gap: 20px;
    }
  }
}
